doctype html

html
  head
    title let's make some triangles
    
    style.
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
      }
      
      #triangles {
        position: absolute;
        height: 100%;
        width: 100%;
      }
  
  body
    canvas#triangles
    
    script(src='../paper-full.js')
    
    script(type='text/paperscript', canvas='triangles').
    
      var canvas = document.getElementById('triangles')
    
      function sideLengthFromRadius (radius) {
        return radius * Math.sqrt(3)
      }
      
      function triangleHeightFromSideLength (l) {
        var l2 = Math.pow(l, 2)
        return Math.sqrt(3/4 * l2)
      }
    
      var numTriangles     = 25
      var triangleSide     = canvas.width / numTriangles
      var triangleRadius   = triangleSide / Math.sqrt(3)
      var triangleHeight   = triangleHeightFromSideLength(triangleSide - 1)
      // NOTE(jordan): can derive baseY using Law of Sines
      var baseX = 0, baseY = -triangleHeight/3
      
      for (var j = 0; j <= numTriangles; j ++) {
        for (var i = 0; i <= numTriangles; i++) {
          var x = baseX + i * triangleSide
          var y = baseY + j * 2 * triangleHeight
          var center  = new Point(x, y)
          
          var triangle = new Path.RegularPolygon(center, 3, triangleRadius)
          triangle.fillColor = '#55aaaa'

          var tri2 = triangle.clone()
          tri2.scale(1, -1)
          tri2.position += new Point(0, triangleHeight)
          
          var diamond = new Group([ triangle, tri2 ])
        
          var offsetDiamond = diamond.clone()
          
          offsetDiamond.position += new Point(triangleSide/2, triangleHeight)
          offsetDiamond.fillColor = '#aa55aa'
        }
      }
